---
import ToolCard from '@/components/tools/ToolCard.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Developer Tools">
        <div class="container section-header">
            <h1>Tools & Projects</h1>
            <p>
                รวมเว็บแอปและเครื่องมือที่ผมสร้างขึ้นเพื่อแก้ปัญหาจริงในงานด้านเภสัชกรรมไปจนถึงช่วยให้นักพัฒนาทำงานได้สะดวกขึ้น
            </p>
        </div>

        <div class="tools-grid">
            <ToolCard
              title="ระบบเบิกจ่ายยาออนไลน์"
              description="เว็บแอปพลิเคชันสำหรับจัดการการเบิกจ่ายยาภายในคปสอ.สระโบสถ์"
              href="/tools/cupsabot"
              icon="heroicons:beaker"
            />

            <ToolCard
              title="บัญชียาสมุนไพร รพ.สระโบสถ์"
              description="ระบบสืบค้นข้อมูลยาสมุนไพรและเงื่อนไขการเบิกจ่ายของ สปสช."
              href="/tools/herbs-app"
              icon="heroicons:sparkles"
            />
        </div>
</BaseLayout>


