---

---
<div class="feature-grid">
  <slot />
</div>

<style>
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-4);
    margin: var(--space-10) 0;
  }
</style>
